*,
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Barlow;
}

* {
    font-family: "Montserrat", sans-serif;
  font-style: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

#container-inputSection {
    display: grid ;
    width: 500px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-row-gap: 10px

}

#labelStockTicker {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: block;
    align-content: center;
}

#stockTicker {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: block;
    height: 30px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

#labelCurrentYieldAAA {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: block;
    align-content: center;    
}

#currentYieldAAA {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: block;
    height: 30px;
    align-self: center;
    justify-self: center;
    text-align: center;

}

input {
    width: 70px;
}

#container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
}

#btn-submit {
    padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
}