*,
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Barlow;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

#container-inputSection {
    display: grid ;
    width: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

